.container{
    position: absolute;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    padding:40px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.nav__items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.nav__right{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
