.section-box {
    width:100%;
    height:70vh;
    position: relative;
    
}


.section-img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.heading
{
    position:absolute;
    top:25%;
    padding-left: 150px;
    color: white;
    font-size: 32px;
}


.heading-2
{
    position:absolute;
    top:37%;
    padding-left: 150px;
    color: white;
    font-size: 32px;
}

.heading-3
{
    position:absolute;
    top:49%;
    padding-left: 150px;
    color: white;
    font-size: 32px;
}

.inputArea
{
    position:absolute;
    top:63%;
    margin-left: 80px;
    /* left:5%; */
    /* display: block; */
    width: 450px;
    /* border: solid;
    border-width: 10px; */
    
}

.inputcss{
    width: 300px;
    height: 42px;
    border-radius: 5px;
    padding-left: 30px;
}

.sIcon{
    position: absolute;
    left: 19%;
    height: 16px;
    top: 28%;
}

input { outline: none; }